################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/src/Osram.Bim.Api/Osram.Bim.Api/deployment/configmap.yaml
/src/Osram.Bim.Resource.Api/Osram.Bim.Resource.Api/resources
*.pyc

/src/Osram.Bim.Resource.Api/Osram.Bim.Resource.Api/config/appsettings.Development.json
/src/Osram.Bim.Resource.Api/Osram.Bim.Resource.Api/deployment/configmap.yaml
